@media(max-width: 768px) {
    .img {
        flex-wrap: wrap;
    }

    .slidercard {
        margin: 10px;
    }

    .imgmain {
        font-size: small;
        padding: 0px;
    }
}

@media(max-width:1000px) {
    .imgmain {
        align-items: center;
    }
}

@media(max-width:565px) {
    .imgmain {
        display: grid;
        grid-template-columns: 100%;
    }

    .Mactivity {
        flex-wrap: wrap;
    }

    .activity {
        margin: 20px;
    }

    .cards1,
    .cards2,
    .cards3,
    .cards4,
    .cards5 {
        height: 200px;
    }

    .bottombar {
        font-size: small;
        flex-wrap: wrap;
    }
}

@media(max-width:425px) {
    .collab {
        width: 100%;

    }

    .lastmessage {
        width: 100%;
    }

    .content .p h1 {
        font-size: 24px;
        padding: 0px;
    }
    .content{
        margin: 20px;
        padding: 0px;
    }

    .button button {
        padding: 5px 7px;
        margin: 5px;
    }
    .footermain .img{
        height: 230px;
    }
    .service{
        flex-wrap: wrap;
        padding: 30px;
    }
    .banner h2{
        margin: 10px;
        font-size: 16px;
        
    }
     .banner {
        padding: 30px;
        
    }
    .anchor{
        font-size: 15px;
    }
  .footermain .img2{
    height: 260px;
  }
  .footercard h1{

    font-size: 20px;
  }
}
